MotorcycleShop/MVCAuthentication/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Data.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetCurrentId_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrentId" />
  </wsdl:message>
  <wsdl:message name="IService1_SetCurrentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCurrentId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCurrentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBrands_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBrands" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBrands_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBrandsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostBrand_InputMessage">
    <wsdl:part name="parameters" element="tns:PostBrand" />
  </wsdl:message>
  <wsdl:message name="IService1_PostBrand_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostBrandResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutBrand_InputMessage">
    <wsdl:part name="parameters" element="tns:PutBrand" />
  </wsdl:message>
  <wsdl:message name="IService1_PutBrand_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutBrandResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBrandByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBrandByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBrandByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBrandByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBrand_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBrand" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBrand_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBrandResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMotorcycles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMotorcycles" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMotorcycles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMotorcyclesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMotorcycleByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMotorcycleByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMotorcycleByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMotorcycleByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostMotorcycle_InputMessage">
    <wsdl:part name="parameters" element="tns:PostMotorcycle" />
  </wsdl:message>
  <wsdl:message name="IService1_PostMotorcycle_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostMotorcycleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutMotorcycle_InputMessage">
    <wsdl:part name="parameters" element="tns:PutMotorcycle" />
  </wsdl:message>
  <wsdl:message name="IService1_PutMotorcycle_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutMotorcycleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMotorcycle_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMotorcycle" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMotorcycle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMotorcycleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSales_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSales" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSales_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSaleByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSaleByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostSale_InputMessage">
    <wsdl:part name="parameters" element="tns:PostSale" />
  </wsdl:message>
  <wsdl:message name="IService1_PostSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostSaleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutSale_InputMessage">
    <wsdl:part name="parameters" element="tns:PutSale" />
  </wsdl:message>
  <wsdl:message name="IService1_PutSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutSaleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteSale_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSale" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSaleResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCurrentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetCurrentId" message="tns:IService1_SetCurrentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetCurrentIdResponse" message="tns:IService1_SetCurrentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCurrentId" message="tns:IService1_GetCurrentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCurrentIdResponse" message="tns:IService1_GetCurrentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBrands">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBrands" message="tns:IService1_GetBrands_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBrandsResponse" message="tns:IService1_GetBrands_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostBrand">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostBrand" message="tns:IService1_PostBrand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostBrandResponse" message="tns:IService1_PostBrand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutBrand">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutBrand" message="tns:IService1_PutBrand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PutBrandResponse" message="tns:IService1_PutBrand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBrandByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBrandByID" message="tns:IService1_GetBrandByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBrandByIDResponse" message="tns:IService1_GetBrandByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBrand">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteBrand" message="tns:IService1_DeleteBrand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteBrandResponse" message="tns:IService1_DeleteBrand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMotorcycles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMotorcycles" message="tns:IService1_GetMotorcycles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMotorcyclesResponse" message="tns:IService1_GetMotorcycles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMotorcycleByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMotorcycleByID" message="tns:IService1_GetMotorcycleByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMotorcycleByIDResponse" message="tns:IService1_GetMotorcycleByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostMotorcycle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostMotorcycle" message="tns:IService1_PostMotorcycle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostMotorcycleResponse" message="tns:IService1_PostMotorcycle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutMotorcycle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutMotorcycle" message="tns:IService1_PutMotorcycle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PutMotorcycleResponse" message="tns:IService1_PutMotorcycle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMotorcycle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteMotorcycle" message="tns:IService1_DeleteMotorcycle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteMotorcycleResponse" message="tns:IService1_DeleteMotorcycle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSales">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSales" message="tns:IService1_GetSales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSalesResponse" message="tns:IService1_GetSales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSaleByID" message="tns:IService1_GetSaleByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSaleByIDResponse" message="tns:IService1_GetSaleByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostSale" message="tns:IService1_PostSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostSaleResponse" message="tns:IService1_PostSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutSale" message="tns:IService1_PutSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PutSaleResponse" message="tns:IService1_PutSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteSale" message="tns:IService1_DeleteSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteSaleResponse" message="tns:IService1_DeleteSale_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCurrentId">
      <soap:operation soapAction="http://tempuri.org/IService1/SetCurrentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCurrentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrands">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBrands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostBrand">
      <soap:operation soapAction="http://tempuri.org/IService1/PostBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutBrand">
      <soap:operation soapAction="http://tempuri.org/IService1/PutBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrandByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBrandByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBrand">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMotorcycles">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMotorcycles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMotorcycleByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMotorcycleByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostMotorcycle">
      <soap:operation soapAction="http://tempuri.org/IService1/PostMotorcycle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutMotorcycle">
      <soap:operation soapAction="http://tempuri.org/IService1/PutMotorcycle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMotorcycle">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteMotorcycle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSales">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSaleByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostSale">
      <soap:operation soapAction="http://tempuri.org/IService1/PostSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutSale">
      <soap:operation soapAction="http://tempuri.org/IService1/PutSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSale">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>